body{
    margin-top: 500px;
    text-align: center;
}

#btn {
    border: solid;
    border-radius: 30px;
    text-align: center;
    font-size: 30px;
    color:cadetblue;
    width: 600px;
    height: 100px;
}